$text: #ffbf00

body
  color: $text
  text-align: center



.instructions
  font-size: 1.5em
  width: 75%
  margin: auto

.instructions_header
  margin-bottom: 10px

.instructions_li
  margin-bottom: 20px



.title
  margin-bottom: -15px


.users
  width: 60%
  margin: auto

.users_grid
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin-bottom: 20px
  max-height: 50px
  overflow: scroll
