<div class="board siimple-bg--teal">

  <div class="board__wordHistory--left">
    <ul>
      <li v-for="item in userResponseHistory">
        \{{item}}
      </li>
    </ul>
  </div>

  <div class="board__middle">

    <div v-show="showModal" class="board__readyModal">
      <div class="board__readyBtn" v-on:click="readyToPlay">\{{modalMessage}}</div>
    </div>

    <div class="board__selfBoard">
      <h1>YOUR WORD</h1>
      <input type="text" name="" class="board__input board__input--self"
      value="" placeholder="Enter Word" v-model="userResponse">
    </div>

    <countdown v-if="showCountdown" v-bind:countdown="countdown"></countdown>

    <div v-if="showResultMessage">
      <div v-if="winner">
        <h3>IT'S A MATCH!</h3>
      </div>
      <div v-else>
        <div v-on:click="readyForNext" class="board__retryBtn"
            v-bind:class="{ 'board__retryBtn--flashing': readyForNextRound }">
          Ready?
        </div>
        <h3>NO MATCH! TRY AGAIN!</h3>
        <small>(Try to think of what the two words have in common.)</small>
        <div class="board__retryBtn--disabled"
            v-bind:class="{ 'board__retryBtn--flashing': readyForNextRoundOtherPlayer }">
            Ready?
        </div>
      </div>
    </div>

    <div class="board__partnerBoard">
      <h1>THEIR WORD</h1>
      <input type="text" name="" class="board__input board__input--partner" v-bind:value="otherPlayerMessage" disabled>
    </div>

  </div>




    <div class="board__wordHistory--right">
      <ul>
        <li v-for="item in otherPlayerResponses">
          \{{item}}
        </li>
      </ul>
    </div>

</div>
