<div class="board siimple-bg--green">

  <div v-show="showModal" class="board__readyModal">
    <div class="board__readyBtn" v-on:click="readyToPlay">\{{modalMessage}}</div>
  </div>

  <div class="board__selfBoard">
    <h1>YOUR WORD</h1>
    <input type="text" name="" class="board__input board__input--self"
    value="" placeholder="Enter Word" v-model="userResponse">
  </div>

  <div class="board__countdownContainer">
    *COUNTDOWN* <div class="board__timer">\{{countdown}}</div> *COUNTDOWN*
  </div>

  <div class="board__partnerBoard">
    <h1>PARTNER'S WORD</h1>
    <input type="text" name="" class="board__input board__input--partner" v-bind:value="otherPlayerMessage" readonly>
  </div>

</div>
