<div class="board">

  <div class="board__wordHistory board__wordHistory--left">
    <ul>
      <li>WORD HISTORY</li>
      <li v-for="item in userResponseHistory">
        \{{item}}&nbsp
      </li>
    </ul>
  </div>

  <div class="board__middle">

    <div v-show="showModal" class="board__readyModal">
      <div class="board__readyBtn" v-on:click="readyToPlay">\{{modalMessage}}</div>
    </div>

    <div class="board__selfBoard">
      <h1>YOUR WORD</h1>
      <input type="text" name="" class="board__input board__input--self"
      value="" placeholder="Enter Word" v-model="userResponse">
    </div>


    <!-- <div class="countdownText" v-bind:class="{ rotateText: rotateText }">
      <div>c</div>
      <div>o</div>
      <div>u</div>
      <div>n</div>
      <div>t</div>
      <div>d</div>
      <div>o</div>
      <div>w</div>
      <div>n</div>
    </div> -->

    <countdown v-if="showCountdown" v-bind:countdown="countdown"></countdown>

    <div v-if="winner" v-on:click="readyForNewGameHandler"
      class="board__playAgainBtn board__playAgainBtn--self"
      v-bind:class="{
        'board__retryBtn--flashing': !readyForNewGame,
        'board__retryBtn--selected': readyForNewGame
    }">
      Play Again?
    </div>

    <div v-if="showResultMessage" class="resultMessage">
      <div v-if="winner" class="resultMessage__winner">
        <h3>IT'S A MATCH!</h3>
      </div>
      <div v-else class="resultMessage__loser">
        <div v-on:click="readyForNext" class="board__retryBtn"
            v-bind:class="{
              'board__retryBtn--flashing': !readyForNextRound,
              'board__retryBtn--selected': readyForNextRound }">
          Ready?
        </div>
        <h3>NO MATCH! TRY AGAIN!</h3>
        <small>(Try to think of what the two words have in common.)</small>
        <div class="board__retryBtn--disabled"
            v-bind:class="{
              'board__retryBtn--selected': readyForNextRoundOtherPlayer
          }">
            <span v-if="!readyForNextRoundOtherPlayer"
              v-bind:class="{ 'board__retryBtn--flashing': readyForNextRound }">
              Waiting for partner
            </span>
            <span v-else>
              Partner ready
            </span>
        </div>
      </div>
    </div>

    <div v-if="winner" class="board__playAgainBtn board__playAgainBtn--other">
      <div class="board__retryBtn--disabled"
          v-bind:class="{
            'board__retryBtn--selected': readyForNewGameOther
        }">
          <span v-if="!readyForNewGameOther"
            v-bind:class="{ 'board__retryBtn--flashing': readyForNewGame }">
            Waiting for partner
          </span>
          <span v-else>
            Partner ready
          </span>
      </div>
    </div>

    <div class="board__partnerBoard">
      <input type="text" name="" class="board__input board__input--partner" v-bind:value="otherPlayerMessage" disabled>
      <h1>THEIR WORD</h1>
    </div>

  </div>




    <div class="board__wordHistory board__wordHistory--right">
      <ul>
        <li>WORD HISTORY</li>
        <li v-for="item in otherPlayerResponses">
          \{{item}}&nbsp
        </li>
      </ul>
    </div>

</div>
