<div class="instructions">

  <h2 class="instructions_header">HOW TO PLAY</h2>

  <p>The goal of the game is for you and your partner to spontaneously guess
    the same word in as few tries as possible.</p>

    <ol class="instructions_list">

      <li class="instructions_li">When the game begins, enter a random word into the text area.
        Your partner will do the same. <small>(You will not be able to see each other's words.)</small></li>

      <li class="instructions_li">After the countdown, your initial words will be
        revealed to each other.</li>

      <li class="instructions_li">If you guess the same word, you win!</li>

      <li class="instructions_li">If not, each player enters a new word,
        and the countdown begins again.</li>

      <li class="instructions_li">The process repeats until both players guess the same word
        (or one of them dies of boredom).</li>

    </ol>

</div>
