<div class="root" id="root">

  <!-- HEADER -->
  <my-header></my-header>

  <!-- USER INFO DISPLAY -->
  <users-info v-bind:count="userCount" v-bind:users="usersOnline"></users-info>


  <!-- FIND GAME BUTTON -->

  <find-game-btn v-bind:message="message" v-bind:click-handler="clickHandler"
    v-bind:mouse-over-handler="mouseOverHandler"
    v-bind:mouse-out-handler="mouseOutHandler"></find-game-btn>

  <!-- IF NO ROOM EXISTS, SHOW INSTRUCTIONS -->
  <template v-if="room === null">
  {{> instructions }}
  </template>

  <!-- IF PLAYER IS IN A ROOM, SHOW THE ROOM -->
  <template v-if="room !== null">
  {{> board }}
  </template>

  <!-- LEAVE GAME BUTTON -->
  <button type="button" name="button" v-if="room !== null"
    v-on:click="leaveGame"
    class="siimple-btn siimple-btn--green leaveBtn">Leave Game</button>

</div>
