<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="users" class="users">
  <h1>USERS ONLINE: \{{ userCount }}</h1>
  <ol>
    <li v-for="user in usersOnline">
      \{{ user }}
  </ol>
</div>

<button type="button"
  class="siimple-btn siimple-btn--green findGameBtn">
  LOOK FOR GAME
</button>
