<div class="root" id="root">

<h1 class="title">{{title}}</h1>
<p>The classic CBB brain teaser</p>



<users-info v-bind:count="userCount" v-bind:users="usersOnline"></users-info>

<button type="button" id="findGameBtn"
  v-bind:class="[message === 'FIND GAME' ?
                  'siimple-btn siimple-btn--green findGameBtn' :
                  'siimple-btn siimple-btn--red findGameBtn']"
  v-on:click="clickHandler"
  v-on:mouseover="mouseOverHandler"
  v-on:mouseout="mouseOutHandler">
  \{{message}}
</button>



<template v-if="room === null">
{{> instructions }}
</template>

<template v-if="room !== null">
{{> board }}
</template>

<button type="button" name="button" v-if="room !== null"
  v-on:click="leaveGame"
  class="siimple-btn siimple-btn--green">Leave Game</button>

</div>
