<div class="root" id="root">

<h1 class="title">{{title}}</h1>
<p>The classic CBB brain teaser</p>



<div id="users" class="users">
  <h3>USERS ONLINE: \{{ userCount }}</h3>
  <div class="users_grid">
    <div v-for="user in usersOnline" class="users_id">
      \{{ user }}
    </div>
  </div>
</div>


<button type="button" id="findGameBtn"
v-bind:class="[message === 'FIND GAME' ? 'siimple-btn siimple-btn--green findGameBtn' : 'siimple-btn siimple-btn--red findGameBtn']"
v-on:click="clickHandler"
v-on:mouseover="mouseOverHandler"
v-on:mouseout="mouseOutHandler">
\{{message}}
</button>

<template v-if="room === null">
{{> instructions }}
</template>

<template v-if="room !== null">
{{> board }}
</template>



</div>
