<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <script type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js">
    </script>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">


  </head>
  <body class="siimple-bg--blue">
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript"
    src="javascripts/index.js"></script>
    <script type="text/javascript"
      src="javascripts/vue-components.js">
    </script>
  </body>
</html>
