* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  color: #ffbf00;
  text-align: center;
  width: 100%; }

.board {
  border: 2px solid black;
  margin: auto;
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

input {
  text-align: center; }

.board__readyBtn {
  cursor: pointer;
  font-size: 2em;
  justify-content: space-around; }

.board__retryBtn {
  cursor: pointer; }

.board__retryBtn--disabled {
  cursor: default; }

.board__readyModal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; }

.board__wordHistory {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none; }
  .board__wordHistory li {
    list-style: none; }

.board__wordHistory--left, .board__wordHistory--right {
  text-align: center;
  border: 2px solid black;
  width: 60px; }

.instructions {
  font-size: 1.5em;
  width: 75%;
  margin: auto; }

.instructions_header {
  margin-bottom: 10px; }

.instructions_li {
  margin-bottom: 20px; }

.title {
  margin-bottom: -15px; }

.users {
  width: 60%;
  margin: auto; }

.users_grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  max-height: 50px;
  overflow: scroll; }
